<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./node_modules\bootstrap\dist\css\bootstrap.min.css">
    <style>
        progress[value] {
            width: 700px;
            height: 20px;
            appearance: none;
            }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
              
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
              
                  <main role="main" class="container mt-5 text-center">
                    <div id="app">
                        <div class="row text-center"> 
                            <div class="col-9 col-offset-2">
                                <div class="row text-center">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <progress v-bind:max="maximum" v-bind:value="progress"></progress>                                    
                                </div>
                                <div class="row text-center">
                                    <button class="btn m-2 btn-lg btn-primary" v-if="playAgain" v-on:click="hearAgain()">Hear Again</button>
                                    <button class="btn m-2 btn-lg btn-default" v-if="canHearNext" v-on:click="hearNext()">Hear Next</button>
                                </div>
                                <div  class="row mt-2">
                                    <p>Notes: {{notes}}</p>
                                </div>
                                <div class="row mt-2">
                                    <p v-if="messageStatus===''">Press hear next to begin </p>
                                    <p v-if="messageStatus==='GUESS'">Guess this sound</p>
                                    <p v-if="messageStatus==='CORRECT'">Yes you are correct</p>
                                    <p v-if="messageStatus==='WRONG'">No that is wrong</p>
                                </div>
                                <div class="row mt-3">
                                    <button class="btn m-2" v-bind:class="val.cl" v-for="(val, i) in availableIntervals" v-on:click="guessAnswer(val, i)">{{val.val}}</button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-default m-2" v-for="val in numbersToLetters" v-on:click="play(val)">{{val}}</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row input-group mb-3">
                                <select class="custome-select" v-model="assneding">
                                    <option selected value="1">Assending</option>
                                    <option value="2">Assending and Desending</option>
                                </select>
                                </div>
                                <div class="row input-group mb-3">
                                <select class="custome-select" v-model="speed">
                                    <option value="1">Slow</option>
                                    <option selected value="2">Medium</option>
                                    <option value="3">Fast</option>
                                    <option value="4">Harmonized</option>
                                </select>
                                </div>
                                <div class="row input-group mb-3">
                                <select class="custome-select" v-model="octaves">
                                    <option value="1">3-7</option>
                                    <option selected value="2">4-6</option>
                                    <option value="3">4</option>
                                </select>
                                </div>
                                <div class="row input-group mb-3">
                                    <button class="btn m-2" v-for="(interval, i) in intervals" v-on:click="setIntervals(i)" v-bind:class="{'btn-primary': intervals[i].on}">{{interval.val}}</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </main><!-- /.container -->       
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="./node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
<script src="./vue.js"></script>
<script src="./audiosynth.js"></script>
<script>
    Synth.setVolume(0.25)
    let numbersToLetters = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B']
    let randomOctave = () =>  Math.floor(Math.random()*5) + 3    
    var piano = Synth.createInstrument('piano')
    let currentNote = {} 
    let playNote = () => {
        let gap = getGap()/1000
        console.log(gap)
        if(currentNote.order === 0){
            piano.play(numbersToLetters[currentNote.firstNoteIndex], currentNote.firstOctave, gap)
            setTimeout(()=>{
               piano.play(numbersToLetters[currentNote.secondNoteIndex], currentNote.secondOctave, gap) 
            }, getSpeed())    
                
        }
        else{
            piano.play(numbersToLetters[currentNote.secondNoteIndex], currentNote.firstOctave, gap)
            setTimeout(()=>{
               piano.play(numbersToLetters[currentNote.firstNoteIndex], currentNote.secondOctave, gap) 
            }, getSpeed())
        }
    }
    let intervalGenerator = (interval) => {
        currentNote.interval = interval
        currentNote.firstOctave = getOctave()
        currentNote.secondOctave = getOctave()
        currentNote.firstNoteIndex = Math.floor(Math.random()*12)
        currentNote.secondNoteIndex = currentNote.firstNoteIndex + interval >= 12 ? currentNote.firstNoteIndex + interval -12 : currentNote.firstNoteIndex + interval
        currentNote.order = getOrder()
        playNote()
        app.playAgain = true
    }
    let getInterval = () => {
        let intervalIndex = Math.floor(Math.random()*app.availableIntervals.length)
        console.log(app.availableIntervals)
        console.log(intervalIndex)
        return app.availableIntervals[intervalIndex].interval
    }
    let getOrder = () => {
        if(app.assneding === '1'){return 0}
        if(app.assneding === '2'){return Math.floor(Math.random()*2)}
    }
    let getOctave = () => {
        if(app.octaves === '1'){return Math.floor(Math.random()*5)+3}
        if(app.octaves === '2'){return Math.floor(Math.random()*3)+4}
        if(app.octaves === '3'){return 4}
    }
    let getSpeed = () => {
        if(app.speed === '1'){return 2000}
        if(app.speed === '2'){return 1000}
        if(app.speed === '3'){return 500}
        if(app.speed === '4'){return 0}
    }
    getGap = () => {
        if(app.speed === '4'){return 1000}
        else{return getSpeed()}
    }
    let classes = {
        correct: 'btn-success',
        wrong: 'btn-danger',
        notGuessed: 'btn-default'
    }
    let unlockNextLevel = () => {
        if(app.progress >= app.maximum){
            app.progress = 0
            for(let i = 0; i<app.intervals.length; i++){
                if(!app.intervals[i].on){app.intervals[i].on = true;return}
            }
        }
    }
    const app = new Vue({
        el: '#app',
        data: {
            title: 'hello',
            assneding: '1',
            speed: '2',
            playAgain: false,
            canTurnOffInterval: 0,
            messageStatus: '',
            canHearNext: true,
            progress: 0,
            maximum: 20,
            intervals: [
                {val: 'unison', on: true, interval: 0, cl: classes.notGuessed },
                {val: 'minor 2nd', on: false, interval: 1, cl: classes.notGuessed},
                {val: 'Major 2nd', on: false, interval: 2, cl: classes.notGuessed},
                {val: 'minor 3rd', on: false, interval: 3, cl: classes.notGuessed},
                {val: 'Major 3rd', on: false, interval: 4, cl: classes.notGuessed},
                {val: 'Perfect 4th', on: false, interval: 5, cl: classes.notGuessed},
            ],
            octaves: '2',
            notes: '',
            numbersToLetters
        },
        methods: {
            play(a) {
                piano.play(a, 4, 2)
            },
            hearNext() {
                this.intervals = this.intervals.map(val =>{
                    val.cl = classes.notGuessed
                    return val
                })
                this.canHearNext = false
                this.notes = 'To be revealed'
                intervalGenerator(getInterval())
            },
            hearAgain() {
                playNote(2)
            },
            setIntervals(index) {
                if(this.intervals[index].on === false){this.canTurnOffInterval++}
                if(!this.canTurnOffInterval){return}
                if(this.intervals[index].on === true){this.canTurnOffInterval--}
                this.intervals[index].on = !this.intervals[index].on
            },
            guessAnswer(intervalObj, i) {
                if(intervalObj.val === this.intervals[currentNote.interval].val){
                    this.messageStatus = 'CORRECT'
                    this.availableIntervals[i].cl = classes.correct
                    this.canHearNext = true
                    this.progress++
                    this.notes = `${numbersToLetters[currentNote.firstNoteIndex]} and ${numbersToLetters[currentNote.secondNoteIndex]}`

                }else {
                    this.messageStatus = 'WRONG'
                    this.availableIntervals[i].cl = classes.wrong
                    this.progress -= this.maximum/4
                    if(this.progress < 0){this.progress = 0}
                }
                unlockNextLevel()
            }
        },
        computed: {
            availableIntervals() {
                return this.intervals.filter(val => val.on)
            }
        }
    })     
    onkeydown = (e) => {
        var key = e.keyCode ? e.keyCode : e.which;
        if(key === 67){
            piano.play('C', randomOctave(), 4)
        }
        else if(key === 68){
            piano.play('D', randomOctave(), 4)
        }
        else if(key === 69){
            piano.play('E', randomOctave(), 4)
        }
    }
            
</script>
</body>
</html>